@using Video.Pages.Models
@model Video.Pages.Models.AppModel

<div class="container-fluid asposetools pb5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5 pb-5" style="min-height:450px">

                <h1 id="ProductTitle">@Model.Title</h1>
                <h2 id="ProductTitleSub">@Model.TitleSub</h2>

                <div id="WorkPlaceHolder">

                    <div id="rawTableDiv" class="col-md-12 pt-5">
                        <table id="rawFileTable" class="raw-table"></table>
                    </div>
                    <div class="col-md-12">
                        <div class="choosefile btn-group dropup pt-5">
                            <div id="fileDiv">
                                <input id="file1" type="file" style="display: none;" accept="*"
                                       onchange="fileSelected()">
                            </div>
                            <button type="button" class="btn btn-success btn-lg" onclick="clickUpLoad()"><span class="glyphicon glyphicon-plus pl-2"></span>Choose File</button>
                            <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" id="uploadMenu1">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu3" role="menu" aria-labelledby="uploadMenu1">
                                <li><a href="#" onclick="clickUpLoad()">From Computer</a></li>
                                <li><a href="#" onclick="openAddFileDialogModel()">By Url</a></li>
                            </ul>
                        </div>
                        <div class="convertbtn hidden" id="uploadDiv">
                            <input type="button" class="btn btn-success btn-lg" ID="uploadButton" onclick="clickConvert()" value="@Model.ResourcesFromApp("ButtonText")" />
                        </div>
                    </div>
                    <div class="terms-area"><span>*By uploading your files or using our service you agree with our </span><a href="https://about.aspose.app/legal/tos" target="_blank">Terms of Service</a><span> and </span><a href="https://about.aspose.app/legal/privacy-policy" target="_blank">Privacy Policy</a><span>.</span></div>

                    @if (false)
                    {
                        <div class="col-md-12">
                            @if (Model.SaveAsOptions != null)
                            {
                                <div class="saveas">
                                    <em>@Model.Resources["SaveAs"]</em>
                                    <div class="btn-group">
                                        <select id="saveAs" name="saveAs" style="display: none" onchange="">
                                            @foreach (var ext in Model.SaveAsOptions)
                                            {
                                                <option value="@ext.ToUpper().Trim()">@ext.ToUpper().Trim()</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="convertbtn">
                                <input type="button" class="btn btn-success btn-lg" ID="uploadButton" value="@Model.ResourcesFromApp("ButtonText")" />
                            </div>
                        </div>
                    }
                    @*</form>*@
                </div>
                @if (!Model.UploadAndRedirect)
                {
                    <div id="DownloadPlaceHolder" class="hidden">
                        <div class="filesuccess">
                            <label id="SuccessMessage">@Model.ResourcesFromApp("SuccessMessage")</label>
                            <span class="convertbtn">
                                <a href="#" id="DownloadButton" class="btn btn-success btn-lg">@Model.Resources["DownLoadNow"]&nbsp;<i class="fa fa-download"></i></a>
                            </span>
                            @if (Model.ShowViewerButton)
                            {
                                <div class="clearfix">&nbsp;</div>
                                <span class="viewerbtn">
                                    <a href="#" id="ViewerLink" target="_self" class="btn btn-success btn-lg">@Model.ResourcesFromApp("ViewerButtonText") &nbsp;<i class="fa fa-eye"></i></a>
                                </span>
                            }
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-md-2"></div>
                            <a href="@Model.AppURL.ToLower()" class="btn btn-link col-md-6" style="text-align: left">@Model.ResourcesFromApp("AnotherFile") &nbsp;<i class="fa-refresh fa"></i></a>
                            <a id="sendEmailButton" class="btn btn-link col-md-3" style="text-align: left">@Model.Resources["SendToEmail"] &nbsp;<i class="fa-envelope-o fa"></i></a>
                            <div class="col-md-1"></div>
                            <div class="clearfix"></div>
                            <div class="col-md-2"></div>
                            <a class="btn btn-link col-md-6" style="text-align: left" target="_blank" href="https://products.aspose.cloud">Cloud API &nbsp;<i class="fa-cloud fa"></i></a>
                            <a class="btn btn-link col-md-3" style="text-align: left" target="_blank" href="https://products.aspose.com">On Premise API &nbsp;<i class="fa-file-o fa"></i></a>
                            <div class="col-md-1"></div>

                        </div>
                        <p>@Model.Resources["BookmarkTextDownload"]</p>
                    </div>
                }
                <div id="alertPlaceHolder" class="col-md-12">
                    <br />
                    <p id="alertMessage" class="alert alert-danger hidden"></p>
                    <p id="alertSuccess" class="alert alert-success hidden"></p>
                </div>

                <div id="loaderPlaceHolder">
                    <div id="loader" class="hidden" role="status" aria-hidden="true">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" style="width: 15%">15%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Audio setting（Modal） -->
<div class="modal fade" id="videoSetting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-video" style="width:750px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Options
                </h4>
            </div>
            <div class="modal-body modal-body-title modal-title-color">
                Video
            </div>
            <div class="modal-choose-video">
                <span>Resolution</span>
                <div class="modal-choose2-video">
                    <select id="videoSizeSelect" onchange="videoSizeSelectChange()">
                        <option value="">no change</option>
                        <option value="320x240">320x240 (240p)</option>
                        <option value="640x480">640x480 (480p)</option>
                        <option value="854x480">854x480</option>
                        <option value="960x720">960x720</option>
                        <option value="1280x720">1280x720 (720p HD)</option>
                        <option value="1440x1080">1440x1080</option>
                        <option value="1920x1080">1920x1080 (1080p Full HD)</option>
                        <option value="2560x1440">2560x1440 (1440p 2K WQHD)</option>
                        <option value="3840x2160">3840x2160 (2160p 4K UHD)</option>
                        <option value="custom">custom</option>
                    </select>
                    <div id="customVideoSizeDiv" class="hidden">
                        <input type="text" name="" class="resolution-msg" id="customWidth"> X <input type="text" name="" class="resolution-msg" id="customHight"><br>
                    </div>
                    <span>
                        Change the video resolution, for example to 1280x720 (720p HD).
                    </span>
                </div>
            </div>

            <div class="modal-choose-video">
                <span>Aspect Ratio</span>
                <div class="modal-choose2-video">
                    <select id="videoAspectRatioSelect">
                        <option value="">no change</option>
                        <option value="R16_9">16:9</option>
                        <option value="R14_9">14:9</option>
                        <option value="R4_3">4:3</option>
                    </select>
                    <span>
                        Change the video aspect ratio, for example to 16:9 or 4:3.
                    </span>
                </div>
            </div>

            <div class="split"></div>
            <div class="modal-choose-video">
                <span>Video Codec</span>
                <div class="modal-choose2-video">
                    <select id="videoCodecSelect">
                        <option>copy</option>
                        <option>x264</option>
                        <option>x265</option>
                        <option>xvid</option>
                    </select>
                    <span>
                        Change the Video Codec. Use "copy" to copy the stream without re-encoding.
                    </span>
                </div>
            </div>

            <div class="modal-choose-video">
                <span>Frame rate</span>
                <div class="modal-choose2-video">
                    <input id="fpsInput" type="text" name="">
                    <span>
                        Change the video frame rate.
                    </span>
                </div>
            </div>

            <div class="split"></div>

            <div class="modal-choose-video">
                <span>Constant <br>Quality (CRF)</span>
                <div class="modal-choose2-video">
                    <select id="videoCRFSelect">
                        <option value="">no change</option>
                        <option value="0">0 (lossless compression)</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18 (high quality)</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23 (normal quality)</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28 (low quality)</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                        <option value="51">51 (worst quality)</option>

                    </select>
                    <span>
                        Change the CRF value. Lower values mean better quality but longer
                        conversion times. Recommended values range from 15–35.
                    </span>
                </div>
            </div>

            <div class="modal-choose-video">
                <span>Preset</span>
                <div class="modal-choose2-video">
                    <select id="videoPresetSelect">
                        <option value="">no change</option>
                        <option value="ultrafast">ultrafast</option>
                        <option value="superfast">superfast</option>
                        <option value="veryfast">veryfast</option>
                        <option value="faster">faster</option>
                        <option value="fast">fast</option>
                        <option value="medium">medium</option>
                        <option value="slow">slow</option>
                        <option value="slower">slower</option>
                        <option value="veryslow">veryslow</option>
                    </select>
                    <span>
                        Change the video preset, the preset is a collection of options that will provide a certain encoding speed to compression ratio.
                    </span>
                </div>
            </div>



            <div class="split"></div>

            <div class="modal-choose-video">
                <span>Tune</span>
                <div class="modal-choose2-video">
                    <select id="videoTuneSelect">
                        <option value="">no change</option>
                        <option value="film">film</option>
                        <option value="animation">animation</option>
                        <option value="grain">grain</option>
                        <option value="stillimage">stillimage</option>
                        <option value="fastdecode">fastdecode</option>
                        <option value="zerolatency">zerolatency</option>
                        <option value="psnr">psnr</option>
                        <option value="ssim">ssim</option>
                    </select>
                    <span>
                        Change the video tune, the tune are settings based upon the specifics of your input.
                    </span>
                </div>
            </div>

            <div class="modal-choose-video">
                <span>Profile</span>
                <div class="modal-choose2-video">
                    <select id="videoProfileSelect">
                        <option value="">no change</option>
                        <option value="baseline">baseline</option>
                        <option value="main">main</option>
                        <option value="high">high</option>
                        <option value="high10">high10</option>
                        <option value="high422">high422</option>
                        <option value="high444">high444</option>
                    </select>
                    <span>
                        Change the video profile, it limits the output to a specific H.264 profile.
                    </span>
                </div>
            </div>

            <div class="modal-choose-video hidden">
                <span>Level</span>
                <div class="modal-choose2-video">
                    <select id="videoLevelSelect">
                        <option>none</option>
                        <option>1</option>
                        <option>1b</option>
                        <option>1.1</option>
                        <option>1.2</option>
                        <option>1.3</option>
                        <option>2.0</option>
                        <option>2.1</option>
                        <option>2.2</option>
                        <option>3.0</option>
                        <option>3.1</option>
                        <option>3.2</option>
                        <option>4.0</option>
                        <option>4.1</option>
                        <option>4.2</option>
                        <option>5.0</option>
                        <option>5.1</option>
                        <option>5.2</option>
                    </select>
                    <span>
                        Set output to a specific H264 compatibility profile level.
                    </span>
                </div>
            </div>
            <div class="modal-body modal-body-title modal-title-color">
                Audio
            </div>
            <div class="modal-choose-video">
                <span>Audio Codec</span>
                <div class="modal-choose2-video">
                    <select id="audioCodecSelect">
                        <option>copy</option>
                        <option>flac</option>
                    </select>
                    <span>
                        Change the audio codec of the video. Use "Copy" to copy the stream without re-encoding.
                    </span>
                </div>
            </div>

            <div class="modal-choose-video">
                <span>Volume</span>
                <div class="modal-choose2-video">
                    <select id="volumeSelect">
                        <option value="-120">-120dB</option>
                        <option value="-110">-110dB</option>
                        <option value="-100">-100dB</option>
                        <option value="-90">-90dB</option>
                        <option value="-80">-80dB</option>
                        <option value="-70">-70dB</option>
                        <option value="-60">-60dB</option>
                        <option value="-50">-50dB</option>
                        <option value="-40">-40dB</option>
                        <option value="-30">-30dB</option>
                        <option value="-20">-20dB</option>
                        <option value="-10">-10dB</option>
                        <option value="0" selected="selected">no change</option>
                        <option value="10">+10dB</option>
                        <option value="20">+20dB</option>
                        <option value="30">+30dB</option>
                        <option value="40">+40dB</option>
                        <option value="50">+50dB</option>
                        <option value="60">+60dB</option>
                        <option value="70">+70dB</option>
                        <option value="80">+80dB</option>
                        <option value="90">+90dB</option>
                        <option value="100">+100dB</option>
                        <option value="110">+110dB</option>
                        <option value="120">+120dB</option>
                    </select>
                    <span>Change the video volume, make audio louder or quiter.</span>
                </div>
            </div>

            <div class="split"></div>

            <div class="modal-choose-video hidden" id="VBRSelectDiv">
                <span>VBR</span>
                <div class="modal-choose2-video">
                    <select id="vbrSelect" onchange="VBRSelectChange()">
                        <option value="0">220-260kbps</option>
                        <option value="1">190-250kbps</option>
                        <option value="2">170-210kbps</option>
                        <option value="3">150-195kbps</option>
                        <option value="4">140-185kbps</option>
                        <option value="5">120-150kbps</option>
                        <option value="6">100-130kbps</option>
                        <option value="7">80-120kbps</option>
                        <option value="8">70-105kbps</option>
                        <option value="9">45-85kbps</option>
                        <option value="-1" selected="selected">Constant Bitrate(CBR)</option>
                    </select>
                    <span>Variable Bitrate or Constant Bitrate encoding</span>
                </div>
            </div>

            <div class="modal-choose-video" id="bitrateDiv">
                <span>Audio Bitrate</span>
                <div class="modal-choose2-video">
                    <input id="bitrateInput" type="text" name="" placeholder="128">
                    <span>
                        Change the audio bitrate.
                    </span>
                </div>
            </div>

            <div class="modal-body modal-body-title modal-title-color">
                Trim
            </div>
            <div class="modal-choose-video">
                <span>Trim Start</span>
                <div class="modal-choose2-video">
                    <input id="startTime" type="text" name="">
                    <span>
                        Trim start time (HH:MM:SS)
                    </span>
                </div>
            </div>
            <div class="modal-choose-video">
                <span>Trim End</span>
                <div class="modal-choose2-video">
                    <input id="endTime" type="text" name="">
                    <span>
                        Trim end time (HH:MM:SS)
                    </span>
                </div>
            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">close
        </button> -->
                <button type="button" class="btn btn-primary" onclick="saveVideoSetting()">
                    OK
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="addFileDialog" tabindex="-1" role="dialog" aria-labelledby="addFileDialogLabel" aria-hidden="true">
    <div class="modal-dialog model-addfile">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title addfile-title" id="addFileDialogLabel">
                    Add file by URL
                </h4>
            </div>
            <div class="modal-body">
                <div class="addfile-main">
                    <span><img src="/video/@Model.AppRoute/content/images/url.png" alt="" /></span>
                    <input type="text" id="addfileUrl" placeholder="https://..." />
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="addfile-btn" onclick="urlInputed()">
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Social")
@Html.Partial("Overview", Model.OverviewModel)
@if (Model.ExtensionModel != null)
{
    @Html.Partial("ExtensionInfo", Model.ExtensionModel)
}
@if (Model.HowToModel != null)
{
    @Html.Partial("HowTo", Model.HowToModel)
}
@if (Model.CanonicalModel != null)
{
    @Html.Partial("Canonical", Model.CanonicalModel)
}

@if (Model.OtherFeaturesModel != null)
{
    @Html.Partial("OtherFeatures", Model.OtherFeaturesModel)
}

@Html.Partial("Modals")

@if (Model.SaveAsOptions != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#saveAs').select2();
            var val = $('#saveAs option:eq(0)').val();
            $('#saveAs').val(val);
            $('#saveAs').change();
        });
    </script>
}